# Cython
**/build/*
*.cpython*
*.html
*.c

# Python
**/__pycache__
**/*.egg-info

# Mac Stuff
**/.DS_Store

# VS Code
.vscode

# Undesired files
*.tab
*.db

# Old documents
demo*
demo/demo.py

# Spice Kernels
*metak*
*.bsp
*.bpc
*.bds
*.dsk
*.ek
*.tpc
*.tsc
*.tf
*.tls
*.ti
*.bc
